* {
    margin: 0px;
    padding: 0px;
}

body{ /* Fondo background*/
    background:url(../Imagenes/back.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.main { /* Caracteristicas de toda la pagina */
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.navegacion { /* Menu de navegacion */
    list-style: none;
    background: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: -4px;
}

.navegacion li{ /* Menu de navegacion, desplazamiento en horizontal*/
    display: inline-block;
    padding: 10px;
    margin-top: 5px;
    margin-left: 10px;
}

.navegacion li a{ /* Diseño de botones de navegacion */
    font-size: 20px;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-family: verdana;
    border-top-left-radius: 30%;
    border-top-right-radius: 30%;
    background: #064D85;
    border: 1px solid white;
    background: url(../Imagenes/degrade.jpg);
}

.navegacion li a:hover { /* Efecto al señalar botones */
    padding-top: 12px;
    background: rgb(9, 96, 163);
    background: url(../Imagenes/bodydegrade.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.relleno { /* Relleno debajo del menu de navegacion */
    color:white;
    text-align: center;
    background: url(../Imagenes/degrade.jpg);
}

#contenedorcuerpo { /* Div general del body */
    width: 70%;
    margin-left: 20px;
    display:inline-block;
}

.blogtxt{ /* Titulo body */
    margin-top: 2%;
    font-size:30px;
    font-family: impact;
}

.pie{
    background:rgb(9, 96, 163);
    margin-top: 10%;
    padding: 10px;
    font-size: 25px;
    font-family: impact;
    text-align: center;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    color: white;
}

.pie:hover{
    color: orange;
}

.seccion1, .seccion2, .seccion3, .seccion4, .seccion5{
    background: #4682B4;
    display: inline-block;
    float: right;
    color: white;
}

.seccion1 ul, .seccion2 ul, .seccion3 ul, .seccion4 ul, .seccion5 ul{
    list-style: none;
    float: left;;
}

.seccion1 img, .seccion2 img, .seccion3 img, .seccion4 img, .seccion5 img{
    float: left;
    margin: 20px;
}

.seccion1:hover, .seccion2:hover, .seccion3:hover, .seccion4:hover, .seccion5:hover{
    background: #064D85;
    cursor:link;
}

.art1, .art2, .art3, .art4, .art5 {
    margin-top: 20px;
}

.pie-act{
    color:yellow;
    text-align: right;
    margin-right: 15px;
}

.pie-act a{
    color:yellow;
    text-decoration: none;
}

h3 {
    text-align: left;
    font-family: arial;
    margin-left: 27px;
    font-size: 16px;
    color: white;
}

.opc{
    list-style: none;
    padding: 10px;
}

.opc a{
    text-decoration: none;
    color: white;
    background: black;
    padding: 10px;
    display: block;
    border: 1px solid white;
    background: url(../Imagenes/degrade.jpg);
    width: 85%;
}

.opc a:hover{
    text-decoration: none;
    color: white;
    background: red;
    padding: 10px;
    display: block;
    background: url(../Imagenes/bodydegrade.jpg);
}

.sidebar{
    position: inline-block;
    margin-bottom: 50%;
    float: right;
    margin-right: 20px;
    margin-top: 20px;
    background: url(../Imagenes/sidebar.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}